{{> header}}
<section>
  <div class="body-content">
    <div class="article-meta">
      <div class="social-links">
        <a href="#">
          <img width="16" width="16" src="https://cdn.jsdelivr.net/npm/simple-icons@1.2.7/icons/twitter.svg" />
        </a>
        <a href="#">
          <img width="16" width="16" src="https://cdn.jsdelivr.net/npm/simple-icons@1.2.7/icons/facebook.svg" />
        </a>
        <a href="#">
          <img width="16" width="16" src="http://simpleicon.com/wp-content/uploads/mail-2.svg" />
        </a>
      </div>
      <h1 class="article-title">
        {{title}}
      </h1>
      <div class="byline">
        <div class="byline-authors">
          <span>By</span>
          <a class="byline-author" href="#">{{author}}</a>
        </div>
        <time>{{datePublished}}</time>
      </div>
    </div>
    <div class="article-body">
      {{#each paragraphs}}
        {{#if svg}}
          <div class="centered-svg">
            <svg id='{{this.id}}' width='{{this.width}}' height='{{this.height}}'></svg>
          </div>
        {{else}}
          <p>{{{this.text}}}</p>
        {{/if}}
      {{/each}}
    </div>
    <div class="article-footnote">
      {{#each footnote}}
        {{this}}</br>
      {{/each}}
    </div>
  </div>
</section>
{{> footer}}
