<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro:400,600" rel="stylesheet">

<title>{{title}} - London Student</title>

<meta property="og:title" content="{{title}}">
<meta property="og:description" content="{{description}}">
<meta property="og:image" content="{{image}}">
<meta property="og:url" content="{{url}}">
<meta name="twitter:card" content="summary_large_image">

<meta property="og:site_name" content="London Student">
<meta name="twitter:image:alt" content="{{altText}}">